html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.Movil-Version {
    display: none;
}

.Tablet-Version {
    display: none;
}

.PC-Version {
    display: none;
}

#slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slide-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: opacity 1s;
    background-blend-mode: multiply;
    display: flex;
    align-items: end;
    transition: background-image 0.5s ease-in-out;
    box-sizing: border-box;
    padding-top: 4%;
}

.slide-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-image: linear-gradient(to right, rgb(10, 10, 100), rgba(10, 10, 130, 0.24));
}

#dots {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 3px solid #ffffff;
    transition: background 0.5s ease;
    border-radius: 50%;
    margin: 0 1.2rem;
}

.dot.active {
    background: #ffffff;
}

.dot-visited {
    background: #cccccc;
    /* Un color blanco más claro */
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    box-sizing: border-box;
    height: 12%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

ul {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

li {
    list-style-type: none;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: lighter;
}

.link-active {
    color: rgb(10, 10, 145);
    font-weight: bold;
}

.info-header {
    position: relative;
    z-index: 2;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    justify-content: center;
}

.content {
    padding: 0 0 0 10rem;
}

h1 {
    font-size: 6rem;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;

}

.nosotros-container p {
    line-height: 1.2;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    height: 3.8rem;
}

.text-button {
    display: flex;
    align-items: center;
    background-color: white;
    width: 55%;
    border-radius: 15px;
    padding-left: 10%;
}

.text-button p {
    color: black;
    font-size: 1.2rem !important;
    position: relative;
    font-weight: 400;
}

.text-button p::before {
    content: '';
    background-color: rgb(222, 221, 221);
    height: 1.5rem;
    position: absolute;
    width: 2.5px;
    left: -10px;
}

.nosotros-container {
    display: flex;
    flex-direction: column;
}

.send-button {
    width: 25%;
    background-color: rgb(0, 204, 255);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.send-button a {
    color: white;
    text-decoration: none;
}

.MisionVisionSection {
    background-color: rgb(7, 41, 64);
}

.MisionVision {
    padding: 5% 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(7, 41, 64);
    flex-direction: column;

}

.container-subsection {
    display: flex;
    justify-content: center;
    border: 1px #ffffff solid;
    height: min-content;
    width: 80%;
    margin: 3rem 0;
}

.move-image-container {
    height: 90%;
    max-width: 90%;
}

.image-container {
    height: 100%;
    width: 100%;
    margin: -0.6rem -0.6rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image {
    width: 100%;
    object-fit: cover;
    /* Esto asegura que la imagen cubra todo el contenedor sin distorsionarse */
}

.mision-vision-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 70%;
    padding-bottom: 7rem;
}



.subsection-text {
    display: flex;
    justify-content: center;
    border-bottom: 1px #ffffff solid;
    font-size: 3rem;
    font-weight: bold;
}

.subsection-container {
    height: 60%;
    width: 50%;
}

.subsection-text {
    display: flex;
    justify-content: center;
    font-size: 3.8rem;

}

.center-p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;

}

.subsection-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 2rem;
    align-items: center;
}

.subsection-container2 {
    height: 60%;
    width: 50%;
    border-left: 1px #ffffff solid;
}

.subsection-info {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 2rem;
    align-items: center;


}

.gaviota {
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 50%;
    margin: 1rem 0 5rem 0;
}

.gaviota img {
    width: 100%;
}

.footer {
    height: 77%;
    background-image: url('assets/Footter.svg');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    color: white;
}

h3 {
    margin: 3rem 0;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.footer-info {
    display: flex;
    width: 100%;
}

.colum-logo {
    width: 30%;
}

.column-sigue {
    width: 30%;
}

.colum-contacta {
    width: 40%;

}

.row1 {
    display: flex;
    margin-bottom: 5rem;
    height: 60%;
}

.row1-especial p {
    font-family: 'Chilanka', cursive;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Rubik', sans-serif; */
}

.row1-especial {
    margin-bottom: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
}

.redes {
    display: flex;
    align-items: end;
}

.button-container-footer {
    display: flex;
    justify-content: space-between;
    height: 4.8rem;
}

.footer p {
    font-size: 1.8rem;
}

.rights-reserve {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 100;
}

.rights-reserve::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #cccccc;
    position: absolute;
}

.insta {
    margin-left: 10px;
}


@media screen and (min-width: 1367px) {
    .PC-Version {
        display: block;
    }
}